{% extends "base.twig" %}

{% block customStylesheet %}
    <!-- jquery UI for displaying datepicker -->
    <link rel="stylesheet" href="vendor/jquery-ui-custom/jquery-ui.css">
{% endblock %}

{% block customScript %}
    <script src="vendor/jquery-ui-custom/jquery-ui.js"></script>
    <script src="js/homepage.js"></script>
{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h1>Project Database Status</h1>
        <p class="lead">Current status of our project API and underlying database.</p>
        <hr>
        <table class="table">
            <tbody>
                <tr>
                    <th scope="row">Entries in Database</th>
                    <td>{{ stats_db_entries }}</td>
                </tr>
                <tr>
                    <th scope="row">Last Updated</th>
                    <td>{{ stats_db_lastUpdated }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="row">
        <div class="col-lg-8">
            <h1>New Today</h1>
            <p>New projects from crowd funding platforms that were added today!</p>

            {% if projects_today|length == 0 %}
                <div class="alert alert-info" role="alert">
                    <strong>Sorry!</strong> Seems like there are no new projects today. Come back another time!
                </div>
            {% else %}

            <table class="table">
                <thead>
                    <tr>
                        <th>Project Name</th>
                        <th>Description</th>
                        <th>Novelty Index</th>
                        <th>Popularity Index</th>
                    </tr>
                </thead>
                <tbody>
                {% for project in projects_today %}
                    <tr>
                        <td>{{ project.getName() }}</td>
                        <td>{{ project.getDescription() }}</td>
                        <td>{{ project.getNoveltyIndex() }}</td>
                        <td>{{ project.getPopularityIndex() }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            {% endif %}
        </div>

        <div class="col-lg-4">
            <p>Browse our project database by day...</p>
            <div id="datepicker">
                <form id="dateform" name="dateform" method="get" action="/searchbydate">
                    <input type="hidden" id="filterDate" value="">
                </form>
            </div>
        </div>
    </div>
{% endblock %}