{% extends "base.twig" %}

{% block customStylesheet %}
    <!-- jquery UI for displaying datepicker -->
    <link rel="stylesheet" href="/css/project.css">
{% endblock %}


{% block content %}
    <div class="container">
    <h1>{{ project.name }}</h1>
    <div>
        <!-- project indices -->
        <div class="row">
            <div class="col-lg-6">
                <div class="text-xs-center" id="noveltyCaption">
                    Novelty Index: {{ project.noveltyIndex }}%
                </div>
                <progress class="progress progress-striped progress-info"
                          value="{{ project.noveltyIndex }}" max="100"
                          aria-describedby="noveltyCaption" aria-valuemin="0" aria-valuemax="100"
                          aria-valuenow="{{ project.noveltyIndex }}">
                </progress>
            </div>
            <div class="col-lg-6">
                <div class="text-xs-center" id="popularityCaption">
                    Popularity Index: {{ project.popularityIndex }}%
                </div>
                <progress class="progress progress-striped progress-success"
                          value="{{ project.popularityIndex }}" max="100"
                          aria-describedby="popularityCaption" aria-valuemin="0" aria-valuemax="100"
                          aria-valuenow="{{ project.popularityIndex }}">
                </progress>
            </div>
        </div> <!-- end of project indices -->

        <p>Follow "{{ project.name }}" here:
            <a href="{{ project.link }}">{{ project.link }}</a>
        </p>
        <p><b>About this project.</b> {{ project.description }}</p>

        <div class="card">
            <a class="twitter" data-toggle="collapse" href="#tweets" aria-expanded="false" aria-controls="tweets">
                <div class="card-header">
                    <h5 class="card-title">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                        Trending on Twitter
                    </h5>
                    <h6 class="card-subtitle text-muted">View Tweets related to this project...</h6>
                </div>
            </a>
            <div id="tweets" class="collapse card-block">
                HERE BE TWEETS
            </div>
        </div>

    </div>
    </div> <!-- container -->
{% endblock %}